<% include partials/header %>
<h1>Add Medicine</h1>
<div class="card bg-secondary text-center card-form" style="opacity: 0.8; width: 50%; margin:auto">
          <class class="card-body">
            <h2><strong>Add Medicine</strong></h2>
            <div class="user-img">
              <img src="../img/register/user.png">
            </div>
            <form action="/admin/addmedicine" method="post" >
              <div class="form-group form-row">
                <div class="col">
                  <input class="form-control form-control-lg" type="text" name="name" value="" placeholder="Name">
                </div>

              </div>

              <div class="form-group form-row">

                <div class="col">
                  <select name="manufacturer">
                  <%manufacturer.forEach(function(manufacturer){%>
                           <!-- <input class="form-control form-control-lg" type="text" name="licenseNumber" placeholder="License Number"> -->
                          <option><%=manufacturer.name%></option>
                  <%})%>
                  </select>
                </div>
              </div>
                    <div class="form-group form-row">
                <button class="btn btn-outline-light btn-block" type="submit" name="button">Add Medicine</button>
              </div>





            </form>
          </class>
        </div>
