<% include partials/header %>

<h1>Admin Dashboard</h1>
<button type="button" name="button"><a href="/admin/addmanufacturer">Add Manufactuer</a></button>
<button type="button" name="button"><a href="/admin/addmedicine">Add Medicine</a></button>
<button type="button" name="button"><a href="/admin/addretailer">Add Retailer</a></button>
<button type="button" name="button"><a href="/admin/addinventory">Add Inventory</a></button>




</body>
</html>
